@import '../../components/shame';

body {
	margin: 0;
	background: $color-bg;
}

.app{
	box-sizing: border-box;
	font-size: 18px;
	font-family: $sans;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: $color-type;
	line-height: 2em;

	@include mq($from: tablet) {
		font-size: 22px;
	}

	@include mq($from: desktop) {
		font-size: 26px;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	h1 {
		font-family: $serif;
		text-transform: uppercase;
		font-size: 1.658em;
		display: block;
		text-align: center;
		margin: 1em 0 .5em;
		padding: 0 1em;
	}

	&:after {
		content: '';
		display: block;
		clear: both;
	}

}

.app-facts,
.app-favorites {
	@include mq($from: tablet) {
		width: 50%;
		float: left;
	}
}