@import url(//fonts.googleapis.com/css?family=Acme|Slabo+27px);

$serif : 'Slabo 27px', serif;
$sans  : 'Acme', sans-serif;

body {
	font-family: $serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1 {
	font-family: $sans;
	font-size: 3em;
}