@import '../variables';

.load-more-facts-button {
	padding: 1em 2em;
	border: none;
	font-size: 1.12em;
	font-family: $serif;
	display: block;
	margin: 1em auto;

	&:focus {
		outline: 0;
	}

	&:hover {
		//background: lighten($black, 30%);
	}
}