@import '../shame';

.fact {
	display: block;
	margin-bottom: 2em;
	background: $color-white;
	position: relative;
	padding: 1em 1em;
	text-align: center;
	box-shadow: .1em .1em .1em 0 rgba($color-type,0.2);
	border-radius: .1em;

	&__text {
		margin-top: 2em;
		&::first-letter {
			font-size: 3em;
			font-family: $ruthie;
			color: $color-highlight;
		}
	}

	&:last-child{
		margin-bottom: 0;
	}
}